# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "C:/Users/avnit/World_Weather_Analysis/weather_data/cities1.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df

,City,City.1,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Climate Description
0,0,Busselton,AU,-33.6500,115.3333,59.76,63,0,13.33,clear sky
1,1,Tasiilaq,GL,65.6145,-37.6368,34.57,98,100,8.57,light snow
2,2,Jamestown,US,42.0970,-79.2353,47.84,66,0,5.75,clear sky
3,3,Atuona,PF,-9.8000,-139.0333,76.39,78,28,19.46,scattered clouds
4,4,Manado,ID,1.4870,124.8455,83.17,78,40,6.91,light rain
...,...,...,...,...,...,...,...,...,...,...
557,557,Aswan,EG,24.0934,32.9070,81.66,38,0,10.45,clear sky
558,558,Timizart,DZ,36.8000,4.2667,70.97,61,100,1.03,overcast clouds
559,559,Tarakan,ID,3.3000,117.6333,85.50,74,20,4.61,few clouds
560,560,Emirdag,TR,39.0197,31.1500,49.03,81,0,3.18,clear sky
561,561,Sault Sainte Marie,CA,46.5168,-84.3333,52.36,87,0,0.00,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [ ]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("Enter minimum temperature "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("Enter maximum temperature "))

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [ ]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [ ]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities=preferred_cities_df.dropna()

# Display sample data

clean_travel_cities

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [ ]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.

                                    
hotel_df = clean_travel_cities.copy()

# Display sample data
hotel_df

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [ ]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame

hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [ ]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    
    hotels
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [ ]:
# Display sample data
hotel_df

In [15]:
hotel_df.isnull().sum()

City                   0
City.1                 0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Climate Description    0
Hotel Name             0
dtype: int64

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [16]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df

,City,City.1,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Climate Description,Hotel Name
3,3,Atuona,PF,-9.8000,-139.0333,76.39,78,28,19.46,scattered clouds,Villa Enata
4,4,Manado,ID,1.4870,124.8455,83.17,78,40,6.91,light rain,Aryaduta Hotel
7,7,Emerald,AU,-23.5333,148.1667,76.33,51,10,15.30,clear sky,The Irish Village
8,8,Kinkala,CG,-4.3614,14.7644,70.93,87,76,2.44,broken clouds,Hotel la Pepeche Kinkala
13,13,Isangel,VU,-19.5500,169.2667,78.91,78,75,9.22,broken clouds,Tanna Lodge
...,...,...,...,...,...,...,...,...,...,...,...
555,555,Sisophon,KH,13.5859,102.9737,76.14,92,100,6.73,overcast clouds,Pyramid Hotel
556,556,Bata,GQ,1.8639,9.7658,75.85,87,99,2.57,moderate rain,Hotel Elik Melen
557,557,Aswan,EG,24.0934,32.9070,81.66,38,0,10.45,clear sky,Nuba Nile
558,558,Timizart,DZ,36.8000,4.2667,70.97,61,100,1.03,overcast clouds,TOUATI LOTFI
559,559,Tarakan,ID,3.3000,117.6333,85.50,74,20,4.61,few clouds,RedDoorz Syariah near Taman Berlabuh Tarakan

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [17]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [22]:
# Set the file name.
output_data_file = "C:/Users/avnit/World_Weather_Analysis/Vacation  Search/cities.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file,index_label="City")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [25]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Climate Description} and {Max Temp} Â°F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [26]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>3</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 76.39 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aryaduta Hotel</dd>\n<dt>City</dt><dd>4</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>light rain and 83.17 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Irish Village</dd>\n<dt>City</dt><dd>7</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.33 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel la Pepeche Kinkala</dd>\n<dt>City</dt><dd>8</dd>\n<dt>Country</dt><dd>CG</dd>\n<dt>Current Weather</dt><dd>broken clouds and 70.93 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tanna Lodge</dd>\n<dt>City</dt><dd>13</dd>\n<dt>Country</dt><dd>VU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.91 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>17</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 71.42 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Swiss-Belhotel Balikpapan</dd>\n<dt>City</dt><dd>19</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>few clouds and 83.39 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tengye Hotel</dd>\n<dt>City</dt><dd>23</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Current Weather</dt><dd>clear sky and 88.77 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Inubosaki Kanko Hotel</dd>\n<dt>City</dt><dd>24</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 84.22 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>26</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 82.56 Â°F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [27]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
3   -9.8000 -139.0333
4    1.4870  124.8455
7  -23.5333  148.1667
8   -4.3614   14.7644
13 -19.5500  169.2667
17 -23.1203 -134.9692
19  -1.2675  116.8289
23  23.9051  112.1931
24  35.7333  140.8333
26 -21.2000 -175.2000

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))